/* comon class */
*{
    font-family: 'Space Mono', monospace;
    margin: 0px;
    padding: 0px;
}
.prymary{
    padding: 8px 12px ;
    border: none;
    background-color: #FF900E;
    color: white;
    border-radius: 5px;
    margin:10px 0px;
    font-size: 1rem;
    cursor: pointer;

}
/* header seciton  */
.header-1{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px 100px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 20px;
   
}
.navigation-title{
    color: #131313;
    font-size: 2rem;
    font-weight:700;
}
.navigation ul{
    display: flex;
}
.navigation li{
    margin-right:10px;
    list-style: none;
}
.navigation a{
    color: #424242;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 1rem;
}
.navigation a:hover{
    background-color: rgba(146, 53, 234, 0.344);
}

/* end header section  */
/* start banner setion  */
.banner-image{
    width: 100%;
}
.banner-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.banner-content{
    text-align: center;
    display: flex;
    flex-direction: column;  
    
}
.banner-title{
    color: #313131;
    font-size: 3rem;
    padding: 10px 0px;
}
.banner-paragraph {
    color: #727272;
    padding: 10px 0px;
}

/* feature section  */
main{
    max-width: 1440px;
    margin: 20px auto;
}

.feature-section{
    margin: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 5%;
}
.feature-photo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.feature-image{
    width: 100%;
    border-radius: 8px;
    border: 1px solid gray;
}
.feature-content{
    width: 70%;
    margin: auto;
    padding: 20px;
}
.feature-title{
    font-size: 2rem;
    padding-top: 10px;
}
.span-item-1{
    color: var(--dark-03, #727272);
    font-weight: 400;
}
.span-item-2{
    color: #FF900E;
}
.feature-paragraph{
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--dark-03, #727272);
}
/* responsive desine */

/* for mini mobail */

@media screen and (max-width:290px){
    .header-1{
        padding: 10px;
    }
    .navigation{
        flex-direction: column;
       
    }
    .navigation li{
        margin-right:0px;
    }
    .navigation a{
        padding:8px;
    }
    .banner-title{
        font-size: 2.5rem;
        padding: 10px 0px;
    }
    .navigation-title{
        font-size: 1.5rem;
    }
    .feature-section{
        flex-direction: column;
        margin: 10px;
    }
    .feature-content{
        padding: 5px;
        width: 98%;
    }
}

/* for midium mobaile  */
@media screen and (min-width:290px) and (max-width:576px) {
    .header-1{
        padding: 10px;
    }
    .navigation{
        flex-direction: column;
       
    }
    .navigation li{
        margin-right:0px;
    }
    .navigation a{
        padding:10px;
    }
    .banner-title{
        font-size: 3rem;
        padding: 10px 0px;
    }
    .feature-section{
        flex-direction: column;
        margin: 10px;
    }
    .feature-content{
        padding: 5px;
        width: 98%;
    }
}
/* for tab  */
@media screen and (min-width:576px) and (max-width:950px) {
    .header-1{
        padding: 30px;
    }
    .navigation{
        flex-direction: column;
       
    }
    .navigation li{
        margin-right:0px;
    }
    .navigation a{
        padding:10px;
    }
    .feature-section{
        margin: 20px;
    }
}